td {
  padding: 0;
}
table {
  border-collapse: collapse;
}
.calculator {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button-result {
  width: 100%;
  height: 60px;
  background: rgb(235, 187, 93);
  background: linear-gradient(
    0deg,
    rgba(235, 187, 93, 1) 0%,
    rgba(247, 226, 54, 1) 100%
  );
  &:hover,
  &:focus {
    box-shadow: 0 0 25px rgb(89, 89, 84);
    outline: none;
  }
}
.button-calc {
  width: 60px;
  height: 60px;

  &:hover,
  &:focus {
    box-shadow: 0 0 25px rgb(89, 89, 84);
    outline: none;
  }
}

.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: "Hachi Maru Pop", cursive;
}
.dark-btn {
  background: rgb(222, 220, 218);
  background: linear-gradient(
    180deg,
    rgba(222, 220, 218, 1) 0%,
    rgba(208, 205, 208, 1) 100%
  );
}
.middle-btn {
  background: rgb(235, 232, 230);
  background: linear-gradient(
    180deg,
    rgba(235, 232, 230, 1) 0%,
    rgba(226, 223, 226, 1) 100%
  );
}
.light-btn {
  background: rgb(247, 244, 245);
  background: linear-gradient(
    180deg,
    rgba(247, 244, 245, 1) 0%,
    rgba(237, 235, 236, 1) 100%
  );
}
.colored-btn {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.result-container {
  font-family: "Hachi Maru Pop", cursive;
  font-size: 28px;
  text-align: right;
  vertical-align: bottom;
  padding: 0 15px 15px 15px;
  width: 100%;
  height: 90px;
  background: rgb(222, 220, 218);
  background: linear-gradient(
    180deg,
    rgba(222, 220, 218, 1) 0%,
    rgba(208, 205, 208, 1) 100%
  );
}
.preview {
  display: block;
  font-size: 15px;
  text-align: left;
}
